.member-col {
  align-items: center;
  justify-content: center;
  z-index: 10px;

  .profile-icon {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    border: 1px solid $clr1;
  }
}

.status-col {
  position: relative;
  align-items: center;
  justify-content: center;
  color: $clr7;
  z-index: 10px;

  &:hover {
    opacity: 0.7;
  }
}

.update-card {
  width: 750px;
  height: 200px;
  border-radius: 8px;
  border: 1px solid;
}
