.item-updates-container {
  .update-card {
    position: relative;
    overflow: visible;
    font-size: 16px;
    line-height: 20px;
    font-weight: 300;
    color: $clr2;
    border: 1px solid $ui-grey-color;

    .post-header {
      padding: 15px;

      img {
        width: 40px;
        height: 40px;
      }
    }
  }
  .update-input {
    width: 100%;
    margin: 0;
    border: 1px solid $primary-color;
    background: transparent;
    border-radius: 8px;
    padding: 10px 20px;
    color: $clr2;
    cursor: text;
    transition: color 0.15s ease-in-out;
    justify-content: start;
    text-align: left;
    outline: none;
  }
}
