.item-column {
  height: 100%;

}

.member-col {
  align-items: center;
  justify-content: center;

  .profile-icon {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    border: 1px solid $wolf-color;
    opacity: 0.8;
  }
}

.status-col {
  position: relative;
  align-items: center;
  justify-content: center;
  color: $clr7;

  &:hover {
    opacity: 0.7;
  }
}

.update-card {
  width: 750px;
  height: 200px;
  border-radius: 8px;
  border: 1px solid;
}
.add-update{
  color:$wolf-color;
  width: 24px;
  height: 24px;
}