.main-header {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background: linear-gradient(
        180deg,
        rgba(255, 255, 255, 1) 0%,
        rgba(255, 255, 255, 1) 80%,
        rgba(255, 255, 255, 0) 100%
    );

    p {
        background-color: #fff;
    }

    .logo {
        width: 280px;
        transform: rotate(10deg);
        mix-blend-mode: multiply;
    }
}

.user-header {
    height: 300px;
    background-color: #0085ff;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .user-img{
        width: 170px;
    }
}
.user-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    
}
