.workspace-nav {
  position: relative;
  width: 254px;
  border-inline-end: 1px solid $ui-grey-color;
  transition: width 0.3s;

  &.close {
    width: 30px;
  }

  &.hovered {
    position: absolute;
    height: 100vh;
  }

  select {
    padding: 6px;
  }

  .collapse-button-component {
    position: absolute;
    padding: 3px 7px;
    top: 20px;
    background-color: $clr7;
    border-radius: 50%;
    border: 1px solid $ui-grey-color;

    &.is-pinned {
      right: -14px;
    }

    svg {
      width: 13px;
    }

    &:hover {
      background-color: $primary-color;

      svg {
        path {
          color: $clr7;
        }
      }
    }
  }

  .workspace-dropdown-button {
    position: relative;
    height: 40px;
    border: 1px solid $clr1;
    padding: 6px;

    h2 {
      font-size: rem(16px);
      font-family: roboto-bold;
    }

    .workspace-menu {
      position: absolute;
      width: 280px;
      background-color: $clr7;
      padding: 12px;
      box-shadow: 0 4px 17px 6px #0000001a;
      top: 120%;
      left: 0;
      z-index: 10;
      
      .list-category {
        font-size: rem(14px);
        color: $clr3;
        cursor: default;
        padding: 8px 0;
      }
      .workspace-action {
        .add-workspace{
          .modal-container{
            position: fixed;
            top: 0;
            left: 0;
            height:100vh;
            width: 100vw;
            background-color:rgba(0,0,0,0.3);
            display: flex;
            align-items: center;
            justify-content: center;
            .add-workspace-modal{
              position: absolute;
              background-color: $clr7;
              box-shadow: 0 4px 17px 6px #0000001a;
              width: 500px;
              height: 510px;
              padding: 32px;
              text-align: center;
            }
            

          }
        }
      }
    }
  }

  .menu-button-wrapper {
    height: 32px;
    gap: 5px;
    padding: 0 8px;

    .board-title {
      gap: 5px;
    }

    .hover-display {
      display: none;
    }

    &:hover {
      background-color: $ui-grey-color;

      .hover-display {
        display: flex;
      }
    }
  }
}
