.workspace-nav {
  position: absolute;
  z-index: 5;
  border-inline-end: 1px solid $ui-grey-color;
  transition: width 0.3s;
  
  .dropdown-header {
    height: 30px;
  }
  
  &.close {
    width: 30px;
  }
  
  select {
    padding: 6px;
  }
  
  .collapse-button-component {
    position: absolute;
    padding: 3px 7px;
    top: 20px;
    background-color: $clr7;
    border-radius: 50%;
    border: 1px solid $ui-grey-color;
    transition: right 0.3s;
    z-index: 4;
    
    &.is-pinned {
      right: -14px;
    }
    
    svg {
      width: 13px;
    }
    
    &:hover {
      background-color: $primary-color;
      
      svg {
        path {
          color: $clr7;
        }
      }
    }
  }
  
  .workspace-dropdown-button {
    position: relative;
    height: 40px;
    width: 100%;
    border: 1px solid $clr1;
    padding: 6px;
    margin-bottom: 18px;
    
    .workspace-title {
      width: 100%;
      h2 {
        font-size: rem(16px);
        text-overflow: ellipsis;
        white-space: nowrap;
        font-family: roboto-bold;
      }
    }
  }
  
  .menu-button-wrapper {
    font-size: rem(14px);
    height: 32px;
    gap: 5px;
    padding: 0 8px;
    
    &.search {
      margin-bottom: 14px;
    }
    
    .board-title {
      gap: 5px;
      
      svg {
        color: $clr3;
      }
    }
    
    .hover-display {
      display: none;
    }
    
    &:hover {
      background-color: $ui-grey-color;
      
      .hover-display {
        display: flex;
      }
    }
  }
}




@include for-wide-layout {
  @media (min-width: $normal-breakpoint) {
    .workspace-nav {
      position: relative;
      // width: 254px;
      // border-inline-end: 1px solid $ui-grey-color;
      // transition: width 0.3s;
}
}
}


@include for-normal-layout {
    @media (min-width: $narrow-breakpoint) {
        .workspace-nav{
          height:100vh;
          width: 254px;
            }
          }}