.main-container {
  max-width: 1440px;
}

// Main Header Layout

.card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
  grid-auto-flow: dense;

  > * {
    @include aspect-ratio(1, 1);
  }
}
