.group-preview {
  margin-bottom: 50px;

  .group-header {
    position: relative;
    height: 36px;

    .group-title {
      flex: 1;
      outline: none;
    }

    .group-column-list {
      display: flex;

      .group-column-header {
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }

  .item-list {
    display: flex;
    flex-direction: column;
    background-color: $clr6;

    .item-preview {
      background-color: inherit;
      display: flex;
      border-bottom: 1px solid $clr7;
      height: 36px;

      &:hover {
        background-color: $ui-grey-color;
      }

      .item-title {
        display: flex;
        align-items: center;
        padding: 0 10px 0 0;
        flex: 1 0;
        outline: none;

        .item-title-text {
          flex: 1;
          padding-left: 10px;
        }
      }
      .item-column-list {
      }
    }
  }

  .item-add {
    display: flex;
    height: 100%;
    outline: none;
    height: 35px;
    border-bottom: 1px solid $ui-grey-color;

    .item-add-input {
      border: none;
      width: 100%;
      background: transparent;
      padding: 5px 0 3px 20px;
      outline: none;

      &:focus {
        border: 1px solid $primary-color;
      }
    }

    .item-add-button {
      background-color: $primary-color;
      color: $clr7;
      padding: 0 16px;

      &:hover {
        background-color: $primary-hover-color;
      }
    }
  }
}

.indicator {
  background-color: $ui-grey-color;
  position: relative;
  width: 8px;
  height: 100%;
  overflow: hidden;
  transition: width 0.07s cubic-bezier(0, 0, 0.35, 1);
  will-change: width;
}

.cell-cmp {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 13px;
  font-weight: 400;
  border-right: 1px solid;
  border-right-color: $clr7;
  position: relative;
}
