.group-preview {
  margin-bottom: 50px;

  .group-header {
    height: 36px;
  }

  .item-menu-modal {
    top: 80%;
    box-shadow: 0 4px 17px 6px #0000001a;
    background-color: $clr7;
  }

  .item-add {
    display: flex;
    height: 100%;
    outline: none;
    height: 35px;
    border-bottom: 1px solid $ui-grey-color;

    &:hover {
      .indicator {
        opacity: 1;
      }
    }

    .item-add-input {
      border: none;
      width: 100%;
      background: transparent;
      padding: 5px 0 3px 20px;
      outline: none;

      &:hover {
        border: 1px solid $clr2;
      }
      &:focus {
        border: 1px solid $primary-color;
      }
    }

    .item-add-button {
      background-color: $primary-color;
      color: $clr7;
      padding: 0 16px;

      &:hover {
        background-color: $primary-hover-color;
      }
    }
  }
}

.indicator {
  background-color: $ui-grey-color;
  position: relative;
  width: 8px;
  height: 100%;
  overflow: hidden;
  transition: width 0.07s cubic-bezier(0, 0, 0.35, 1);
  will-change: width;
}

.cell-cmp {
  // overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 13px;
  font-weight: 400;
  border-right: 1px solid;
  border-right-color: $clr7;
  position: relative;
}

.space-item {
  flex: 0 0 30px;
  background-color: $clr6;
}

.space-item {
  flex: 0 0 30px;
  background-color: $clr6;
}
