.app-container {
  width: 100vw;
  height: 100vh;

  .sidebar-container {
    display: flex;
    background-color: $clr3;

    .nav-icon {
      width: 30px;
      height: 30px;
      color: $clr5;
      margin: 10px;
    }

    .workspace-nav {
      background-color: $riverstone-color;
      gap: 20px;
      display: flex;
      flex-direction: column;
    }
  }
  main {
    flex: 1;
  }
}
