.app-container {
  width: 100vw;
  height: 100vh;

  .sidebar-container {
    background-color: $clr1;

    .nav-icon {
      width: 25px;
      height: 25px;
      color: $clr7;
      margin: 10px;
    }

    .user-profile {
      width: 50px;
    }
  }

  main {
    flex: 1;
  }

  .board-app {
    height: 100vh;
  }

  .workspace-app {
    height: 100vh;

    .workspace-details {
      flex: 1;
    }
  }

  .workspace-nav {
    background-color: $clr6;
    padding: 16px;
  }

  .board-details {
    flex: 1;
    overflow: auto;

    .board-header {
      padding: 16px 30px 0;

      & h1 {
        font-size: 32px;
        letter-spacing: -0.2px;
        line-height: 52px;
        font-family: Roboto-bold, sans-serif;
        color: $primary-text-color;
      }
    }

    .board-content {
      padding: 18px 30px 40px 48px;
    }
  }
}

.screen {
  position: fixed;
  width: 100vw;
  height: 100vh;
  inset: 0;
  cursor: default;
  z-index: 5;
}
