.app-container {
  width: 100vw;
  height: 100vh;

  .sidebar-container {
    background-color: $clr1;

    .logo {
      width: 30px;
      margin: 8px;
    }
    .nav-icon {
      width: 25px;
      height: 25px;
      color: $clr7;
      margin: 10px;
    }

    .user-profile {
      width: 50px;
    }
  }

  main {
    flex: 1;
  }

  .board-app {
    height: 100vh;
  }

  .workspace-app {
    height: 100vh;

    .workspace-details {
      flex: 1;
    }
  }

  .workspace-nav {
    background-color: $clr6;
    padding: 16px;
  }

  .board-details {
    flex: 1;
    overflow: auto;

    .board-header {
      padding: 16px 30px 0;

      & h1 {
        font-size: 32px;
        letter-spacing: -0.2px;
        line-height: 52px;
        font-family: Roboto-bold, sans-serif;
        color: $primary-text-color;
      }
    }

    .board-content {
      padding: 18px 30px 40px 48px;
    }
  }
}

.screen {
  position: fixed;
  width: 100vw;
  height: 100vh;
  inset: 0;
  cursor: default;
  z-index: 5;

  &.dark {
    background-color: rgba(0, 0, 0, 0.3);
  }
}
//GLOVBAL MENUS
.menu-modal {
  position: absolute;
  width: 264px;
  z-index: 10;
  box-shadow: 0 4px 17px 6px #0000001a;
  background-color: $clr7;
  .menu-section {
    padding: 8px;
    > * {
      font-size: 14px;
      padding: 4px 8px;
    }
  }
}

.group-menu {
  top: 80%;
  left: -30px;

  .change-group-color {
    gap: 5px;

    .group-color {
      width: 14px;
      height: 14px;
      border-radius: 50%;
    }
  }
  .color-pallete {
    position: absolute;
    box-shadow: 0 4px 17px 6px #0000001a;
    background-color: $clr7;
    top: 80%;
    height: 114px;
    width: 140px;

    .colors {
      display: flex;
      flex-wrap: wrap;
      padding: 8px;
      gap: 6px;
    }

    .group-color-item {
      width: 20px;
      height: 20px;
      border-radius: 50%;
      &:hover {
        opacity: 0.6;
      }
    }
  }
}

.item-menu {
  top: 30px;
  left: -25px;
}

.board-menu {
  top: 90%;
  right: -105%;
}

//COLUMNS MENUS
.status-menu {
  z-index: 10px;
  position: absolute;
  // left: 50%;
  // top: 100%;
  width: 144px;
  height: 264px;
  box-shadow: 0 4px 17px 6px #0000001a;
  .labels-list {
    padding: 16px;
    .label {
    }
  }

  .edit-label {
    background-color: $clr7;
    color: $primary-color;

    &:hover {
      background-color: $primary-color;
      color: $clr7;
    }
  }
}

.add-workspace-modal {
  position: fixed;
  background-color: $clr7;
  box-shadow: 0 4px 17px 6px #0000001a;
  width: 500px;
  height: 510px;
  padding: 32px;
  text-align: center;
  z-index: 15;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
