.menu-btn {
  width: 32px;
  height: 32px;
}
.view-container{
  gap: 5px;
  .table-view{
    padding: 8px 16px;
    gap:5px;
    height: 40px;
    &:hover {
    background-color: $ui-grey-color;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
  }
    &.active {
      box-shadow: 0 3px 0px 0px $primary-color;
      // border-bottom: 2px solid $primary-color;
    }
  }
}
